/* General */
body {
	background: #060E15;
	color: white;
	font-family: 'Cantarell', sans-serif;
	padding-bottom: 100px;
}
p {
    font-size: 13px;	
}
a {
	color: white !important;
}
hr {
	background: rgba(255,255,255,0.2);
}
input:focus{
    outline: none;
}

.col-5>p {
	margin:0;
}

.dark {
	background: #212F3C;
}
.fs21 {
	font-size: 21px;
}

.hide {
	overflow-y: hidden;
    max-height: 150px;
}
.show {
	overflow-y: none;
    max-height: 700px;
}

.brand {
    font-weight: 600;
    font-size: 24px;
}

.page-btn {
	font-size: 45px;
	transition: all 0.2s ease-in-out;
}
.page-btn:hover {
	color: gray;
}

/* Navbar */
.navbar {
	border-bottom: 1px solid white;
}

/* Input form */
#srchChannel {
	background: transparent;
	height: 50px;
    width: 300px;
	border: none;
	color: white;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	font-weight: 600;
	border-bottom: 2px solid rgba(255,255,255,0.6);
	text-align: center;
}
#srchChannel::-webkit-input-placeholder {
	color: darkgray;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#srchChannel:-ms-input-placeholder {
	color: darkgray;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#srchChannel::-ms-input-placeholder {
	color: darkgray;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
#srchChannel::placeholder {
	color: darkgray;
	font-family: 'Lato', sans-serif;
	text-align: center;
}

/* Playlists */
.playlist-box {
	position: relative;
    height: 350px;
    padding: 20px 10px;
    border: 1px solid rgba(255,255,255,0.1);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}
.playlist-box:hover {
	-webkit-transform: scale(1.03);
	        transform: scale(1.03);
}
.thumb-img:after {
	content: '';
	position: absolute;
	right: 0;
	width: 40%;
	height: 100%;
	background: rgba(8,8,8,0.8);
	z-index: 2
}
.vid-count {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	right: 35px;
	top: calc((100% - 40px) / 2);
	width: 40px;
	height: 40px;
	border-radius: 50%;
	border: 4px solid white;
	z-index: 5;
	font-size: 20px;
	font-family: 'Lato', sans-serif;
}
.play-info {
	position: absolute;
	bottom: 10px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 20px;
	font-family: 'Cantarell', sans-serif;
	font-weight: 600;
}

/* Videos */
.video-desc {
	font-family: 'Mukta', sans-serif;
	font-size: 15px;
	text-align: justify;
	transition: max-height 0.3s ease-in-out;
}
.show-more {
	cursor: pointer;
}

/* No channel found message */
.empty-img {
    width: 45%;
    height: auto;
}
.empty-msg {
	font-family: 'Cantarell', sans-serif;
}

.thumb-box {
	padding: 10px 0;
	cursor: pointer;
	transition: all 0.3s ease-in-out;
}
.thumb-box:hover {
	-webkit-transform: scale(1.03);
	        transform: scale(1.03);
}
.select {
	border: 1px solid white ;
}

/* Logout */
.logout-btn {
	font-size: 25px;
	transition: all 0.2s ease-in-out;
	cursor: pointer;
}
.logout-btn:hover {
	color: red;
}